<div data-role="content">
	<ul data-role="listview" id="navBarDiv" style="margin-bottom:15px">
		<!-- Another template is coming here -->
	</ul>
	<div>
		<ul data-role="listview" data-inset="true" data-theme="d">
			<li>This is a simple test page for templates</li>
		</ul>
	</div>
	<p>When you finished, tap on the next button on the top right.</p>
	<p><a href="#" data-role="button" data-icon="home">Home Page</a></p>
	<p><a href="#welcome" data-role="button" data-icon="search">Welcome Page</a></p>
	<p><a href="#last" data-role="button" data-icon="delete">Last Page</a></p>
</div>