<div data-role="content">
	<ul data-role="listview" id="navBarDiv" style="margin-bottom:15px">
		<!-- Another template is coming here -->
	</ul>
	<h1>This is the last page</h1>
	<p>
		<div data-role="fieldcontain">
			<label for="select" class="select"><strong>Choose:</strong></label>
			<select id="select" name="select" data-native-menu="false">
				<option value="value1">option1</option>
				<option value="value2">option2</option>
				<option value="value3">option3</option>
			</select>
		</div>
	</p>
	<p>&nbsp;</p>
	<p><a href="#" data-role="button" data-icon="home">Home Page</a></p>
	<p><a href="#welcome" data-role="button" data-icon="search">Welcome Page</a></p>
	<p><a href="#last" data-role="button" data-icon="delete">Last Page</a></p>
</div>