<div data-role="content">
	<ul data-role="listview" id="navBarDiv" style="margin-bottom:15px">
		<!-- Another template is coming here -->
	</ul>
	<div>
		<ul data-role="listview" data-filter="true" data-filter-theme="a">
			<li><a href="#">Apple</a></li>
			<li><a href="#">Banana</a></li>
			<li><a href="#">Choco</a></li>
			<li><a href="#">Dandy</a></li>
			<li><a href="#">Elegant</a></li>
		</ul>
	</div>
	<p>&nbsp;</p>
	<p><a data-role="button" id="specialButton" data-theme="a" data-icon="search">Special Button To Test Events</a></p>
	<p><a href="#" data-role="button" data-icon="home">Home Page</a></p>
	<p><a href="#welcome" data-role="button" data-icon="search">Welcome Page</a></p>
	<p><a href="#last" data-role="button" data-icon="delete">Last Page</a></p>
</div>